<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star wars quote app</title>
</head>
<body>
    <h1>Hey! Record Quote!</h1>
    <form action="/quotes" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    
    <h2>Quotes</h2>
    <ul class="quotes">
        <% quotes.map((quote) => { %>
            <li class = 'quote'>
                <span><%= quote.name %></span>:
                <span><%= quote.quote %></span>
            </li>
        <% }) %>
    </ul>   

    <div>
        <h2>Darth Vadar invades</h2>
        <p>Replace first Yoda's quote with a quote written by Darth Vadar</p>
        <button id='update-button'>Replace Yoda's quote</button>
    </div>
    <!--
    <% for (let i = 0; i<quotes.length; i++) {%>
        <li class="quote">
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span>
        </li>
    <% } %>
    -->
    <script src="/main.js"></script>

</body>
</html>