/* svg {
    height:500px;
    width:500px;
    border: 1px solid black;
  }
  
polygon {
    stroke:black;
    cursor:pointer;
}
  
polygon.down {
    fill:yellow;
}
  
polygon.up {
    fill:red;
} */

/* body{
    background:no-repeat url("https://res.cloudinary.com/dlw84bbw6/image/upload/v1626294834/Host/artExhibitionLobby-codepen.jpg") top left /cover
} */

#rect{
    cursor:pointer;
}