html, body {
    margin: 0;
    padding: 0;
    background:whitesmoke;
    height: 100%;
}

/*
DESCRIPTION:

You challenge is clone a course card from Scrimba's homepage.

For the layout, you can go grid or flex.

Some extra things to look into:
 - logical properties for margin and padding
 - the new color syntax (for RGB and HSL)
 
 Stretch goals: 
  - Add those fun bubble animations!
  - Create a set of cards where the colors (and other things?) are updated through the use of custom properties

*/

/* Write your code here 👇 */
.card{
  max-width: 400px;
  aspect-ratio: 1/1.1; /*440px*/
  border: 1px solid #eee;
  background: white; 
  margin: 100px auto;
  border-radius: 8px;
  border: 0.5px solid rgb(0,0,0,0.15);
  box-shadow: 0 4px 2px -1px rgb(0,0,0,0.15);
}

.top-panel{
  width:100%;
  aspect-ratio:1/0.5;
}

.bottom-panel{
  width:100%;
  aspect-ratio:1/0.5;
  height:200px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}

.class-brief{
  width:100%;
  margin: 0;
}

.brief-content{
  width:50%;
  float:left;
}

.teacher{
  width:30%;
  aspect-ratio:1/1;
  background: url("Kevin.png") gray;
  
  float: right;
}

.class-type{
  display:flex;
  justify-content:space-between;
}