body {
	background-color: hsl(49, 56%, 72%);
	color: #fff;
	margin: auto;
	display: flex;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	align-items: center;
	min-height: 700px;
	max-width: 320px;
	min-width: 300px;
	width:40vw;
}

.calculator_container {
	background-color: hsl(214, 64%, 74%);
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 2rem 3rem;
}

h1 {
	margin: 0 0 1rem;
	text-align: center;
}

.form_control {
	margin: 0.75rem 0;
}

.form_control input {
	padding: 0.25rem;
	width: 100%;
	border: 0;
	border-radius: 2px;
}

.form_control label {
	display: block;
}

.calculator_container footer {
	margin-top: 2rem;
}

.result {
	display: flex;
	justify-content: space-between;
}

.pop_up{
	height:0;
	transition: height .5s ease-in-out .5s;
	overflow:hidden;
	margin-top: 2%;
}

#head_count{
	width: 18%;
	margin: 0 1%;
}


input{
	border: 0;
	border-radius: 2px;
}

input::placeholder{
	color: rgb(200, 200, 200)
}

p{
	margin-top: 1rem;
}

#split{
	display:flex;
	justify-content: space-between;
}